
sudo: false

language: node-js
node_js:
    - "10"

cache:
  directories:
    - node_modules

script:
  - yarn build

deploy:
  skip_cleanup: true
  provider: script
  script: bash deploy.sh
  on:
    branch: master

addons:
  apt:
    update: true
