@import '_constants.scss';

.introSlide {
    height: 60vh;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title, .subTitle {
        margin: 0;
        color: white;
        font-family: "Josefin Slab", sans-serif;
        font-weight: 700;
        text-align: center;
        letter-spacing: 8px;
        text-shadow: 2px 2px black
    }
    .title {
        text-transform: uppercase;
        font-size: 45px;
    }
    .subTitle {
        font-size: 35px;
    }

}

.about {
    padding: 2rem 0;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .headshot {
       min-width: 300px; 
       min-height: 300px;
       border-radius: 50%;
    }
    .bio {
        max-width: 50%;

    }
}

.projects, .upcoming {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectList {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    width: 100%;
}
.projectWrap {
    width: 20%;
    position: relative;
    &:hover {
        .projectInfo {
            display: flex;
        }
    }
}
.projectThumb {
    width: 100%;
}
.projectInfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.8);
    color: $cream;
    display: none;
}
.contacts {
    display: flex;
    background-color: $purple;
    justify-content: center;
    align-items: center;
    width: min-content;
    margin: 8rem auto;
    border-radius: 1.5rem;
    * {
        padding: 1rem 3rem;
    }
    a {
        color: $cream;
        font-size: 2rem;
    }
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .gallery-image {
        width: 20%;
        margin: 2rem;
    }
}

.upcoming {
    ul {
        li {
            list-style: none;
            font-weight: 400;
            font-size: 1.3rem;
            margin: 2rem;
        }
    }
}