@import "_constants.scss";

.title {
  margin: inherit auto;
  text-align: center;
  font-size: 40px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;

  .thumbnail {
    height: 100%;
    &.vertical {
      min-width: 300px;
    }
    &.horizontal {
      min-width: calc(300px * 4 / 3);
    }
  }
}

.postBody {
  max-width: 1024px;
  margin: 3rem auto;
  padding: 0 1rem;
}
