@import '_constants.scss';

.title {
    margin: inherit auto;
    text-align: center;
    font-size: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
}

.thumbnail {
    width: 30%;
    min-width: 250px;
    margin: 1rem 0;
}

.postBody {
    max-width: 1024px;
    margin: 3rem auto;
    padding: 0 1rem;
}